# [core]
#     editor = vim
[init]
    defaultBranch = main
[user]
    name = Tom Gallacher
    email = tgallacher@users.noreply.github.com
[alias]
    co = checkout
    ci = commit
    st = status -s
    br = branch
    last = log -1 HEAD
    dwdiff = "!f() { git diff $@ | dwdiff --diff-input -P -c | less -R; }; f"
    plog = "!l() { git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit $@; }; l"
    plog10 = plog -10
[push]
    default = simple
    autoSetupRemote = true
[advice]
    skippedCherryPicks = false
